button {
    padding: 10px 20px;
    border: none;
    background-color: lightgray;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    display: inline-block;
    margin: 10px 0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 36px;
    font-weight: bold;
}

ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

hr.rounded {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin: 20px 0;
}